@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@400;500;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #000000;
  color: #ffffff;
  font-family: "Kanit", sans-serif;
  font-size: 14px;
}

h1 {
  font-size: 32px;
  text-transform: uppercase;
  letter-spacing: 0.3em;
  margin: 0px 0px 20px 0px;
}

.counter__body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
  width: 300px;
  border-radius: 50%;
  border: 10px solid #fed315;
}
.counter__body span {
  font-size: 90px;
  color: #fed315;
}
.counter__buttons {
  margin: 30px 0px 0px 0px;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.btn {
  height: 50px;
  width: 50px;
  border: 5px solid #282828;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 24px;
  font-weight: 700;
  color: #282828;
  transition: all 0.4s;
}
.btn_decrease:hover {
  border-color: #fe1515;
  color: #fe1515;
}
.btn_reset:hover {
  border-color: #fed315;
  color: #fed315;
}
.btn_increase:hover {
  border-color: #15fe1e;
  color: #15fe1e;
}