//_Fonts:
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;800&display=swap");

//_Basic styles:
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #ffffff;
  position: relative;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

[class*="__container"] {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 40px;
  box-sizing: content-box;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 7px;
  font-size: 18px;
  font-weight: 500;
  color: #ffffff;
  padding: 0 44px;
  height: 40px;
  background-color: #58a9a5;
  transition: all 0.4s;

  &:hover {
    background-color: #48beb8;
  }
}
//_Styles:
@import "header.scss";
